@{
    ViewBag.Title = "Show Diplomas";
}

<h1>@ViewBag.ErrorMessage</h1>
@model IEnumerable<E_Assignment.ViewModels.DiplomaViewModel>

<h1>My diplomas</h1>
<br />
<a class="btn btn-sm btn-outline-dark" asp-action="CreateDiploma" asp-controller="Diploma" >New Diploma</a>
<div class="album py-5">
    <div class="container">

        <div class="row">
            @foreach (var diploma in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <label hidden>@diploma.Id</label>
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: @diploma.Title" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="10%" y="50%" fill="#eceeef" dy=".3em">@diploma.Title</text></svg>

                        <div class="card-body">
                            <p class="card-text">@diploma.Description</p>
                            <p class="card-text">Student: @diploma.StudentName</p>                            
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="btn-group">
                                    <a asp-action="PreviewDiploma" asp-route-id="@diploma.Id" asp-controller="Diploma" class="btn btn-sm btn-outline-secondary">Preview</a>
                                    <a asp-action="EditDiploma" asp-route-id="@diploma.Id" asp-controller="Diploma" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <small class="text-muted">@diploma.Status</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
